name: Release

on:
  push:
    branches:
      - main

env:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_ROLL_FORWARD_TO_PRERELEASE: 1
  DOTNET_ROLL_FORWARD: LatestMajor

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:  
          global-json-file: 'global.json'
          dotnet-version: |
            8.x 
            9.x
            10.x

      - name: Release
        run: dotnet fsi build.fsx -- -p Release
        env:
          NUGET_KEY: ${{ secrets.IONIDE_ANALYZER_NUGET_PUBLISH_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
